<h1>MeetPoint</h1>


<form action="/your_meetpoint">
  <div>
    <p>Where are you?
      <label for="the_address_1">Input Address #1</label>
      <input type="text" name="user_address_1" id="the_address_1" placeholder="Address">
    </p>
  </div>

  <div>
    <p>Where is your friend?
      <label for="the_address_2">Input Address #2</label>
      <input type="text" name="user_address_2" id="the_address_2" placeholder="Address">
    </p>
  </div>

  <p><button>What's our MeetPoint?</button></p>
</form>
